.add-note {
  display: flex;
  margin-bottom: 10px;
}

.add-note__button, .folder-delete__button, .folder-edit__button {
  background: white;
  text-align: center;
  padding: 10px 0;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  width: 190px;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
}

.add-note__button:hover, .folder-delete__button:hover, .folder-edit__button:hover {
  background-color: lightblue;
  cursor: pointer;
}

.folder-delete, .folder-edit {
  margin-bottom: 10px;
}