.note {
  background-color: white;
  border: 2px solid black; 
  padding: 15px;
  margin-bottom: 10px;  
}

.note__title {
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.note__name:visited {
  color: black;
}

.note__flex {
  display: flex;
  justify-content: space-between;
}

.note__date {
  margin-top: 25px;
}

.note__delete {
  background-color: white;
  font-weight: bold;
  font-size:16px;
  padding: 10px;
  border: 2px solid black; 
}

.note__delete:hover {
  background-color: lightblue;
  cursor: pointer;
}
